/* ============================================================
   Global Styles & Resets
   ============================================================ */

/* General Reset */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Font Faces */
@font-face {
  font-family: "Eurocat";
  src: url(/src/fonts/EurocatVF.woff2) format("woff2-variations"),
    url(/src/fonts/EurocatVF.woff) format("woff-variations"),
    url(/src/fonts/EurocatVF.ttf) format("truetype-variations");
}

@font-face {
  font-family: "EurocatSans";
  src: url(/src/fonts/EurocatSansVF.woff2) format("woff2-variations"),
    url(/src/fonts/EurocatSansVF.woff) format("woff-variations"),
    url(/src/fonts/EurocatSansVF.ttf) format("truetype-variations");
}

@font-face {
  font-family: "EurocatBase";
  src: url(/src/fonts/EurocatBaseVF.woff2) format("woff2-variations"),
    url(/src/fonts/EurocatBaseVF.woff) format("woff-variations"),
    url(/src/fonts/EurocatBaseVF.ttf) format("truetype-variations");
}

@font-face {
  font-family: "Programme-Regular";
  src: url("fonts/Programme-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Programme-Light";
  src: url("fonts/Programme-Light.otf") format("truetype");
}

@font-face {
  font-family: "Metaballs-Light";
  src: url("fonts/MetaballsTrial-Light.otf") format("truetype");
}

@font-face {
  font-family: "Eurocat-Light";
  src: url("fonts/Eurocat-Light.otf") format("truetype");
}

@font-face {
  font-family: "EurocatSans-Thin";
  src: url("fonts/EurocatSans-Thin.otf") format("truetype");
}

@font-face {
  font-family: "EurocatSans-Bold";
  src: url("fonts/EurocatSans-Bold.otf") format("truetype");
}

/* ============================================================
   Layout Styles
   ============================================================ */

/* Main Application Container */
.App {
  display: flex;
  height: 100vh;
  background-color: #f2f1f0;
  flex-direction: column;
}

/* Containers for Visuals and Text */
.visual-magazine-container,
.text-magazine-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.visual-magazine-page,
.text-magazine-page {
  max-width: 100vw;
  max-height: 100vh;
}

.visual-magazine-page img,
.text-magazine-page img {
  max-width: 100vw;
  max-height: 100vh;
}

/* ============================================================
   Component Styles
   ============================================================ */

/* Toggle Container (for toggle switch) */
.toggle-container {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0, -50%);
}

/* Toggle Switch Styles */
.toggle-label {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 60px;
  height: 34px;
}

.toggle-input {
  display: none;
}

.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.4s;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 11px;
  color: #fff;
}

.toggle-slider:before {
  position: absolute;
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
  z-index: 1;
}

.toggle-input:checked + .toggle-slider {
  background-color: #2196f3;
  mix-blend-mode: difference;
}

.toggle-input:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.toggle-slider:after {
  position: absolute;
  content: "📷"; /* Image or icon symbol */
  right: 8px;
  z-index: 0;
}

/* ============================================================
   Fixed Position Components (scroll button, navigation, etc.)
   ============================================================ */

/* Scroll to Top Button */
.static-features {
  height: 25px;
  background-color: whitesmoke;
  opacity: 99%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  box-shadow: 0px -25px 25px 10px whitesmoke;
  text-align: center;
  padding-right: 10px;
  padding-bottom: 30px;
  display: flex;
  z-index: 101; /* Ensures button stays above other content */
}

/* Navigation Symbols and Buttons */
.scroll-button {
  font-family: EurocatBase, sans-serif;
  font-variation-settings: "grid" var(--font-variation-settings, 300);
  font-size: 21px; /* Size of the scroll icon */
  background: white; /* White fill */
  color: black; /* Icon color for contrast */
  border: none; /* Remove the border line */
  border-radius: 50%; /* Optional: Make the button circular */
  width: 40px; /* Set width for a perfect circle */
  height: 40px; /* Set height for a perfect circle */
  position: absolute;
  justify-content: center; /* Center the icon */
  align-items: center; /* Center the icon */
  right: 15px;
  cursor: pointer;
  z-index: 102;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a modern look */
  transition: transform 0.2s ease-in-out; /* Add hover effect */
}

.scroll-button:active {
  transform: scale(1.2); /* Enlarge slightly when clicked */
}

/* ============================================================
   Text and Typography Styles
   ============================================================ */

/* General Paragraph and Text Formatting */
a {
  font-family: Programme-Regular, sans-serif;
  color: black;
  font-size: 21px;
  line-height: 1.2;
  text-decoration: none;
}

h2 {
  font-family: Programme-Regular, sans-serif;
  color: black;
  font-size: 24px;
  line-height: 0.25;
  text-align: right;
}

p {
  font-family: Programme-Light, sans-serif;
  color: black;
  cursor: default;
  font-size: 18px;
  line-height: 1.6;
}

.indented {
  text-indent: 2.5em;
  margin-bottom: 1.5em;
}

.indented-line {
  display: inline-block;
  width: 2em;
}

/* Author and Essay Name Styles */
.author {
  padding-top: 50px;
  font-family: EurocatSans, sans-serif;
  font-size: calc(4.5vw - 0px);
  text-align: right;
  line-height: 0.9;
  letter-spacing: -0.1em;
  font-variation-settings: "grid" var(--font-variation-settings, 600);
}

.essay-name {
  font-family: Eurocat, sans-serif;
  color: black;
  font-size: calc(38vw - 20px);
  position: absolute;
  left: 47%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0.9;
  letter-spacing: -0.1em;
  top: 45%;
  font-variation-settings: "grid" var(--font-variation-settings, 70);
}

.date {
  font-family: Programme-Light, sans-serif;
  color: lightgray;
  font-size: calc(4vw - 0px);
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 0.9;
  letter-spacing: -0.1em;
  font-variation-settings: "grid" var(--font-variation-settings, 600);
}

/* Subtitle Styles */
.subtitle {
  font-family: EurocatSans-Bold, sans-serif;
  text-indent: 2.5em;
  color: black;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  display: block;
}

.subtitle:first-of-type {
  margin-top: 90vh;
}

/* ============================================================
   Responsive Styles
   ============================================================ */

@media (max-width: 768px) {
  .App {
    display: flex;
    background-color: #fafafa;
  }

  /* Adjustments for text, symbols, and layout for smaller screens */
  .text-container {
    padding-right: 47.5px;
    padding-left: 17.5px;
    height: auto;
    overflow-y: auto;
    position: relative;
  }

  .sound-symbol,
  .share-symbol,
  .download-symbol {
    font-family: EurocatBase, sans-serif;
    font-variation-settings: "grid" var(--font-variation-settings, 300);
    right: 21px;
  }

  .sound-symbol {
    position: absolute;
    bottom: 230px;
    z-index: 100;
  }

  .share-symbol {
    position: absolute;
    bottom: 190px;
    z-index: 100;
    font-size: 24px; /* Optional: Adjust size */
    cursor: pointer; /* Show pointer on hover */
    color: black; /* Optional: Set icon/text color */
    transition: transform 0.2s ease-in-out;
  }

  .share-symbol:active {
    transform: scale(1.1); /* Slightly enlarge on click */
  }

  .download-symbol {
    position: absolute;
    bottom: 150px;
    z-index: 100;
  }
}
